---
layout: default
---
    <div class="container">
        <div class="row">
            <div class="twelve column">

				<h1 class="page-heading">{{ page.title }}</h1>

				<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

                <p>Reading time - <span class="time">{{ page.content | number_of_words | append: '.0' | divided_by:180 }}</span>min</p>

				{{ content }}

            </div>
        </div>
    </div>

    <script type='text/javascript'>
      $(document).ready(function() {
        $(".time").text(function (index, value) {
          return Math.round(parseFloat(value));
        });
      });
    </script>